<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
     </aside>
    
    <div class="col-md-8">
      <h3>フォローしているユーザ一覧</h3>
      <% @user.follower_users.each do |follower_user|%>
        
        <div class="col-md-4">
          <div class="thumbnail" style="text-align:center;padding-top:10px;">
          
            <div class="caption">
              <p><b><%= link_to "#{follower_user[:name]}",user_path(follower_user)%></b></p>
              <p><%= follower_user[:profile]%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>